:root {
  ---c2ebeb: #c2ebeb;
  ---fff5f0-hover-: #fff5f0;
  ---eaeff3-hover-: #eaeff3;
  ---cc1000: #cc1000;
  --red: #ff1500;
  --green: #33c15d;
  ---1f793a: #1f793a;
  ---fee5db: #fee5db;
  --light-gray: #cccccc;
  --dark-gray: #657387;
  ---aee9bf: #aee9bf;
  --black: #001738;
  --orange: #ff5f1f;
  ---e5541b: #e5541b;
  ---97a0ac: #97a0ac;
  ---ffffff: #ffffff;
  --light-grayish-blue: #f4f6f8;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: var(--black);
  background: var(--light-grayish-blue);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.5;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  min-height: 100vh;
  width: 100%;
}
